# Détection de motif fréquent

In [3]:
import Orange
import numpy as np
import pandas as pd
from orangecontrib.associate.fpgrowth import *

In [18]:
# Import data
data =  pd.read_csv("../data_pretraitee/data_pretraite.csv", sep=';', index_col = 0, parse_dates=['Date'])
data.head()

,N2O,Date,Bande,soilH_h1,soilH_h2,NO3_h1,NO3_h2,NH4_h1,NH4_h2,meanTP,...,bio,elev,ref,week,month,year,2018,2019,2020,2021
0,18.537129,2018-03-14,acs,0.214182,0.197413,18.727429,11.471587,62.840091,8.822290,8.8,...,0.0,0.0,0.0,11,3,2018,1.0,0.0,0.0,0.0
1,2.088998,2018-03-14,pn,0.214570,0.224213,0.727448,0.870433,1.612510,2.110141,8.8,...,0.0,1.0,0.0,11,3,2018,1.0,0.0,0.0,0.0
2,1.488817,2018-03-14,bi,0.221340,0.222435,1.472030,2.484917,1.484297,1.906418,8.8,...,0.0,0.0,0.0,11,3,2018,1.0,0.0,0.0,0.0
3,1.390654,2018-03-14,bio,0.212602,0.214897,1.594965,2.647370,1.933291,2.426755,8.8,...,0.0,0.0,0.0,11,3,2018,1.0,0.0,0.0,0.0
4,3.297613,2018-03-14,elev,0.210646,0.202263,0.614166,1.104807,1.276502,1.688957,8.8,...,1.0,0.0,0.0,11,3,2018,1.0,0.0,0.0,0.0

In [21]:
data['Pic_03'] = data['N2O'] > data['N2O_O3']
data['Pic_J45'] = data['N2O'] > data['N2O_J45']
data['Pic_J182'] = data['N2O'] > data['N2O_J182']

In [22]:
# Test
col = [	"2018", "2019",	"2020",	"2021", "acs", "pn", "bi", "bio", "elev", "ref", "Pic_03", "Pic_J45", "Pic_J182"]
data = data[col].copy()
data.head()

,2018,2019,2020,2021,acs,pn,bi,bio,elev,ref,Pic_03,Pic_J45,Pic_J182
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,True,False,True
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,False,False
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,False,False
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,False,False,False
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,True,False,False

In [23]:
# Dataframe to numpy array
nm_data = data.to_numpy()
print(nm_data) 
print(type(nm_data))

[[1.0 0.0 0.0 ... True False True]
 [1.0 0.0 0.0 ... True False False]
 [1.0 0.0 0.0 ... True False False]
 ...
 [0.0 1.0 0.0 ... False False False]
 [0.0 1.0 0.0 ... False True True]
 [0.0 1.0 0.0 ... False False False]]
<class 'numpy.ndarray'>

In [30]:
itemsets = frequent_itemsets(nm_data, 50) # enumerate all frequent itemsets with support greater than 5 transactions
print(itemsets)

<generator object frequent_itemsets at 0x7fc92d5efac0>

In [31]:
list(itemsets)

[(frozenset({0}), 114),
 (frozenset({1}), 121),
 (frozenset({2}), 84),
 (frozenset({3}), 54),
 (frozenset({4}), 62),
 (frozenset({5}), 61),
 (frozenset({6}), 61),
 (frozenset({7}), 65),
 (frozenset({8}), 62),
 (frozenset({9}), 62),
 (frozenset({10}), 159),
 (frozenset({0, 10}), 54),
 (frozenset({11}), 154),
 (frozenset({1, 11}), 50),
 (frozenset({10, 11}), 121),
 (frozenset({12}), 118),
 (frozenset({10, 12}), 80),
 (frozenset({11, 12}), 95),
 (frozenset({10, 11, 12}), 72)]

In [33]:
# Importer les librairies nécessaires
import Orange
from Orange.data import Table

# Créer le dataframe
data = [["A", "B", "C", "D", "E"],
        ["A", "B", "D", "E"],
        ["B", "C", "D", "E"],
        ["A", "B", "C", "D", "E"],
        ["A", "B", "C", "E"]]

# Créer un tableau Orange
table = Table(data)

# Détecter les motifs fréquents
frequent_itemsets = Orange.associate.AssociationRulesSparseInducer(table, support = 0.6).get_itemsets(0.6)

# Afficher les résultats
print(frequent_itemsets)

/tmp/ipykernel_1903603/1030785838.py:13: OrangeDeprecationWarning: Omitting domain in a call to Table(X, Y, metas), is deprecated and will be removed. Call Table.from_numpy(None, X, Y, metas) instead.
  table = Table(data)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (5,) + inhomogeneous part.